In [7]:
import pandas as pd
from sqlalchemy import create_engine
import pandas as pd

In [13]:

# Create a SQLAlchemy engine
engine = create_engine("postgresql+psycopg2://desmondgukwe:@localhost:5000/desmondgukwe")

1000

In [14]:
#Load the csv
clients = pd.read_csv('clients.csv')
health_lapses = pd.read_csv('health_lapses.csv')
health_products = pd.read_csv('health_products.csv')

In [22]:
#Creating empty tables 
clients.head(0).to_sql(name='clients', con=engine, if_exists='replace', index=False)
health_lapses.head(0).to_sql(name='health_lapses', con=engine, if_exists='replace', index=False)
health_products.head(0).to_sql(name='health_products', con=engine, if_exists='replace', index=False)

0

In [25]:
# SQL query to check if there is data  in clients
query = """ select 
* from public.clients;
"""
df = pd.read_sql_query(query, engine)
df

Empty DataFrame
Columns: [id, gender, age, province, income, bank, num_products, client_duration, payment, distrn]
Index: []

In [27]:
# SQL query to check if there is data  in health_lapses
query = """ select 
* from public.health_lapses;
"""
df = pd.read_sql_query(query, engine)
df

Empty DataFrame
Columns: [id, option, family, lapse_indicator]
Index: []

In [26]:
# SQL query to check if there is data  in health_products
query = """ select 
* from public.health_products;
"""
df = pd.read_sql_query(query, engine)
df

Empty DataFrame
Columns: [option, single_premium, couple_premium, family_premium]
Index: []

In [28]:
# Load the CSVs as tables to PostgreSQL by appending 
clients.to_sql(name='clients', con=engine, if_exists='append', index=False)
health_lapses.to_sql(name='health_lapses',con=engine,if_exists='append',index=False)
health_products.to_sql(name='health_products',con=engine,if_exists='append',index=False)

3

In [29]:

# SQL query to check if there is data in clients
query = """
SELECT id, gender, age, province, income, bank, num_products, client_duration, payment, distrn
FROM public.clients;
"""
df = pd.read_sql_query(query, engine)
df

,id,gender,age,province,income,bank,num_products,client_duration,payment,distrn
0,X00001,M,37,GP,12600.0,Nedbank,1,0,Stop order,Broker
1,X00002,M,44,WC,36000.0,Capitec,1,1,Debit order,Broker
2,X00003,Male,44,KZN,2300.0,Standard,2,0,Stop order,Broker
3,X00004,F,45,WC,3000.0,Capitec,3,2,Debit order,Broker
4,X00005,M,40,EC,23100.0,Other,3,1,Stop order,Broker
...,...,...,...,...,...,...,...,...,...,...
19995,X19996,M,42,MP,34000.0,FNB,1,1,Debit order,Broker
19996,X19997,F,43,NW,49900.0,ABSA,6,3,Debit order,Digital
19997,X19998,M,37,EC,24800.0,Standard,3,2,Debit order,Broker
19998,X19999,F,39,WC,3600.0,Capitec,2,0,Debit order,Internal
19999,X20000,M,35,LP,26600.0,Capitec,2,0,Debit order,Broker

In [30]:
# SQL query to check if there is data in clients
query = """SELECT 
    c.id,
    c.gender,
    c.age,
    c.province,
    c.income,
    c.bank,
    c.num_products,
    c.client_duration,
    c.payment,
    c.distrn,
    
    hl."option",
    hl."family",
    hl.lapse_indicator,
    
    hp.single_premium,
    hp.couple_premium,
    hp.family_premium

FROM public.clients c
LEFT JOIN public.health_lapses hl 
    ON c.id = hl.id
LEFT JOIN public.health_products hp  
    ON hl."option" = hp."option";
"""
df = pd.read_sql_query(query, engine)
df

,id,gender,age,province,income,bank,num_products,client_duration,payment,distrn,option,family,lapse_indicator,single_premium,couple_premium,family_premium
0,X05614,Male,45,GP,5500.0,Standard,4,0,Debit order,Internal,HospiC!re,Single,0.0,NaN,NaN,NaN
1,X04625,M,38,GP,20200.0,Nedbank,4,1,Debit order,Internal,HospiC!re,Couple,0.0,NaN,NaN,NaN
2,X00197,M,50,MP,5200.0,ABSA,1,3,Debit order,Internal,HospiC!re,Family,1.0,NaN,NaN,NaN
3,X03746,Male,46,KZN,3800.0,FNB,1,0,Debit order,Internal,HospiC!re,Couple,0.0,NaN,NaN,NaN
4,X14585,Male,32,WC,23400.0,FNB,3,2,Debit order,Broker,HospiC!re,Family,0.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,X10964,M,41,WC,NaN,FNB,7,1,Debit order,Broker,None,None,NaN,NaN,NaN,NaN
19996,X17483,M,43,NC,9500.0,FNB,1,1,Stop order,Internal,None,None,NaN,NaN,NaN,NaN
19997,X19704,F,48,GP,57700.0,FNB,2,1,Stop order,Broker,None,None,NaN,NaN,NaN,NaN
19998,X15818,M,47,WC,6400.0,Capitec,8,0,Debit order,Broker,None,None,NaN,NaN,NaN,NaN
19999,X16941,M,54,GP,24200.0,Capitec,1,1,Debit order,Broker,None,None,NaN,NaN,NaN,NaN